repos:
  - repo: local
    hooks:
      - id: terraform-docs
        name: terraform-docs
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:latest # or, change latest to pin to a specific version
        args: ["."] # e.g. ["--output-file", "README.md", "./mymodule/path"]
        pass_filenames: false
